a {
    text-decoration: none;
}

.mt-6 {
    margin-top: 6em;
}

.bg-lightblue {
    background-color: #cae1eb;
}

.text-lightgray {
    color: #f7f9fc;
}

.twitter-typeahead, .bootstrap-tagsinput { width: 100%; } 