body {
    background: #F7F7F7;
}
a {
    text-decoration: none;
}

blockquote {
    background: #fafafa;
    color: #444444;
    border-left: 5px solid #cacaca;
    padding: 0.75em;
}

.mt-6 {
    margin-top: 6em;
}

.bg-lightblue {
    background-color: #cae1eb;
}

.text-lightgray {
    color: #cccccc;
}

.rounded {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

.bootstrap-tagsinput {
    line-height: 2em;
    width: 100%;
}

.hljs {
    border: 1px solid #EDEDED;
}